.contacts{
  padding: 50px;
  background: #fff;
  color: #222;
  .title{
    font-size: 54px;
    font-weight: 700;
  }
  .map{
    margin-top: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
}